<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/weather-icons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> 
  </head>
  <body>
    <div class="container">
      <div class="location">
          <div class="title"><img src="/css/placeholder.svg" alt="pin"><%= name %></div>
      </div>
      <div class="units">
          <form action="/C" method="post">
            <button type="submit" action="/C" class="invisibleButton" method="post" value="C">°C</button>
          </form>
          <p class="divider">|</p>
          <form action="/F" method="post">
            <button type="submit" action="/C" class="invisibleButton" method="post" value="F">°F</button>
          </form>  
      </div>
      <div class="widget">
        <div class="currentContainer">
            <div class="description"><%= description %></div>
            <i class="wi wi-owm-<%= icon %>"></i>
            <div class="tempGroup">
              <div class="temperature"><%= temperature %><%= unit %></div>
            </div>
        </div>

        <!-- FORECAST -->
        <div class="forecastContainer">
          <% for (var i = 0; i < forecast.length; i++) { %>
            <div class="forecastDay">
              <div class="cardHeader"><%= forecast[i].day %></div>
              <i class="wi wi-owm-<%= forecast[i].icon %>"></i>
              <div class="cardFooter">
                  <div class="half"><%= forecast[i].high %></div>
                  <div class="half"><%= forecast[i].low %></div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>